.clipboard-item {
    --background: rgba(0, 0, 0, 0.140);

    overflow: hidden;
    position: relative;
    border: 1px solid;
    padding: 8px;
}

.clipboard-item__value {
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.clipboard-item__copy-item {
    position: absolute;
    right: 6px;
    top: 6px;
}

@keyframes loadingEffect {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.clipboard-item__active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    animation-name: loadingEffect;
    animation-timing-function: linear;
}